/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  height: 100%;
  width: 100%;
}

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */
.icon{
  width: 1em;
  height: 1em;
}
.nav-masthead .nav-link {
  color: rgba(255, 255, 255, .5);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.input {
  background: transparent;
  border: none;
  border-radius: 2%;
  display: block;
  outline: none;
  width: 80%;
  height: 18%;
  top: 250px;
  margin: 1em auto;
  padding: 10px;
  color: white;
  -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);
}

::placeholder{
  color: white;
}

input:focus {
  outline:none;
  box-shadow: 0 2px 10px 1px rgba(89, 89, 89, 0.5)
}

#header { 
  grid-area: header; 
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;
  
}
#main{
  grid-area: main;
  font-weight: 600;
  text-align: center;
  font-size: 1em;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#result {
  position: absolute;
  top: 25%;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
}